## 1. Import library

In [1]:
import pandas as pd
import geopy
from geopy.geocoders import Nominatim
import numpy as np

## 2. Scrape data from wikipedia

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(url)
df =dfs[0]

print(len(dfs))
print(df.shape)

df.head()

3
(180, 3)

  Post Code           Borough               Neighborhood
0       M1A      Not assigned               Not assigned
1       M2A      Not assigned               Not assigned
2       M3A        North York                  Parkwoods
3       M4A        North York           Victoria Village
4       M5A  Downtown Toronto  Regent Park, Harbourfront

## 3. Filter out a borough that is 'Not assigned'

In [4]:
df2 = df.loc[df['Borough'] != 'Not assigned']
df2.reset_index(drop = True, inplace = True)
df2.head()

  Post Code           Borough                                 Neighborhood
0       M3A        North York                                    Parkwoods
1       M4A        North York                             Victoria Village
2       M5A  Downtown Toronto                    Regent Park, Harbourfront
3       M6A        North York             Lawrence Manor, Lawrence Heights
4       M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [7]:
df2.shape

(103, 3)

## 4. To check duplicate value for Post Code column

In [8]:
pd.Series(df2['Post Code']).is_unique

True

Since function 'is_unique' returns = True, means column 'Post Code' do not has any duplicate value